@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
}
.shop {
  color: #2be51b;
  font-family: "Orbitron", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 2.3vh;
  text-align: left;
  margin: 15px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 0.2s;
  display: block;
}

.shop-hidden {
  opacity: 0;
  pointer-events: none;
}

a {
  color: black;
  text-decoration: none;
}

.swip-container {
  cursor: pointer;
  /* max-width: 100%; */
}
.video {
  width: 100%;
}
.logo-img {
  width: 29vh;
  cursor: pointer;
  align-self: flex-end;
}
.logo {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  transition: all 1s linear;
}
.logo-contact {
  width: 75%;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  transition: all 1s linear;
}
.container {
  position: relative;
  width: 100%;
}
img {
  margin-bottom: -5px;
}
video {
  margin-bottom: -5px;
}

.topright {
  z-index: 2;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.left,
.right {
  width: 10%;
}
.middle {
  width: 100%;
}
.App {
  max-width: 100vw;
  display: flex;
}
.header {
  font-family: "Orbitron", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 4.1vh;
}
.contentt {
  font-family: "Roboto Mono", monospace;
  font-size: 3.1vh;
}

.tooltip span {
  display: none;
}
.tooltip:hover span {
  display: block;
  position: fixed;
  overflow: hidden;
}
/* .dot {
  margin: 50px;
} */

.content {
  color: #2be51b;
  font-size: 20px;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
  transition: opacity 0.05s ease-in;
  pointer-events: none;
  z-index: 99999;
}
.visible {
  opacity: 1;
}

.content h1,
.content p {
  margin: 0;
}

.dot:hover + .content {
  opacity: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-hidden {
  opacity: 0;
  width: 1px;
  height: 1px;
}
.input {
  background-color: transparent;
  font-size: 2.8vh;
  width: 60vw;
  margin-bottom: 10px;
  border: 5px solid #2be51b;
  color: #2be51b;
}
.textarea {
  background-color: transparent;
  font-size: 2.8vh;
  width: 60vw;
  height: 40vh;
  border: 5px solid #2be51b;
  color: #2be51b;
  margin-bottom: 10px;
}
::-moz-placeholder {
  opacity: 1;
}
input,
textarea {
  outline: none;
}
.submit {
  background-color: transparent;
  font-size: 2.8vh;
  width: 20%;
  border: 5px solid #2be51b;
  color: #2be51b;
}
