@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
}
.shop {
  font-family: "Orbitron", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.2vw;
  text-align: center;
  margin: 15px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 1s;
}
.shop-hidden {
  opacity: 0;
  pointer-events: none;
}
.shop:hover {
  opacity: 0.5;
}
a {
  color: black;
  text-decoration: none;
}

.swip-container {
  cursor: pointer;
  /* max-width: 100%; */
}
.video {
  width: 100%;
}
.logo-img {
  width: 150px;
  cursor: pointer;
}
.logo {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  transition: right 1s linear;
}
.logo-left {
  position: fixed;
  right: calc(100% - 150px);
  bottom: 0;
  width: 150px;
  z-index: 999;
  cursor: pointer;
  transition: right 0.8s linear;
  cursor: default;
}
.container {
  position: relative;
  width: 100%;
}

.topright {
  z-index: 2;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.left,
.right {
  width: 10%;
}
.middle {
  width: 100%;
}
.App {
  max-width: 100vw;
  display: flex;
}

.header {
  font-family: "Orbitron", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.8vw;
}
.content {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9vw;
}
